*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
*::-webkit-scrollbar{
    display: none;
}
body{
    background: url("/img/back.svg");
}
html, body {margin: 0; height: 100%; overflow: hidden}
.wrapper{
    width: 100%;
    height: 100vh;
}
.lside{
    width: 250px;
    height: 96%;
    background-color: #007bff;
    position: fixed;
    border-radius: 23px;
    left: 1%;
    top: 2%;
}
.menu{
    width: 230px;
    height: 95%;
    position: relative;
    top: 2%;
    left: 10px;
    border-radius: 23px;
    text-align: center;
    color: #ffffff;
}
.ppic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 13%;
    left: 25%;
}
.pname{
    font: 400 14px/1.8 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #ffffff; 
    position: absolute;
    top: 30%;
    border: 2px solid transparent;
    background: rgba(0,0,0,0.05);
    padding: 5px;
    border-radius: 20px;
}
.nav{
    position: absolute;
    top: 40%;
    left: 17%;
    text-align: start;
}
.nav ul{
    list-style: none;
    width: 220px;
}
.nav ul li a{
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding-left: 15%;
}
.nav ul li{
    margin-bottom: 8%;
    border-radius: 23px;
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 0.8;
}
.active{
    background-color: #ffffff;
    color:black;
    opacity: 1 !important;
}
.active a{
    color: black !important; 
}
ul li:hover{
    opacity: 1;
}
.line{
    position: absolute;
    top: 93%;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.3;
    border-radius: 10px;
}
.footer{
    position: absolute;
    top: 95%;
    left: 13%;
}
.social{
    display: flex;
    list-style: none;
}
.social li{
    margin-left: 25%;
}
.social li a{
    text-decoration: none;
    color: #ffffff;
}
.center{
    margin-left: 17.5%;
    margin-top: 1%;
    margin-right: 1%;
    position: relative;
}
#HOME{
    width: 100%;
    height: 100vh;
    position: relative;
}
.pic{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 33%;
}
.name{
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 42%;
    font-family: 'Roboto', sans-serif;
    width: max-content;
}
#WORK{
    width: 100%;
    height: 100vh;
    position: relative;
}
#WORK p{
    position: absolute;
    top: 5%;
    left: 5%;
}
#WORK span{
    position: absolute;
    top: 15%;
    left: 10%;
}
#WORK .hall{
    position: absolute;
    top: 20%;
    left: 10%;
}
#WORK .hall span{
    position: absolute;
    top: 320px;
    left: 0%;
}
#WORK .work{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.block1{
    background-color: darkcyan;
}
.work div{
    width: 500px;
    height: 300px;
    border-radius: 20px
}
iframe{
    width: 500px;
    height: 300px;
    border-radius: 20px;

}
.more{
    position: absolute;
    top: 70%;
    left: 10%;
}
.more ul{
    display: flex;
}
.more ul li{
    list-style: none;
    margin-left: 5%;
}
.more ul li a{
    text-decoration: none;
    color: goldenrod;
    font-size: 25px;
}
.more ul li a:hover{
    color: rgb(48, 48, 182);
}
#WORK #git{
    position: absolute;
    top: 85%;
    left: 10%;
}
#RESUME{
    width: 100%;
    height: 100vh;
    margin-top: 3%;
    border: 2px solid transparent;
}
#RESUME p{
    margin-top: 3%;
    margin-left: 5%;
}
#RESUME h3{
    margin-top: 5%;
    margin-left: 10%;
}
#RESUME h4{
    margin-top: 5%;
    margin-left: 15%;
}
.edu{
    display: grid;
    grid-template-columns: 340px 340px;
    grid-template-rows: 200px 200px;
    width: 700px;
    height: 420px;
    margin-left: 35%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.edu div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.edu div span{
    margin-left: 20px;
    background-color:rgba(220, 53, 69, 0.1);
    padding: 5px;
    color: rgb(220, 53, 69);
    border-radius: 5px;
}
.edu .inter span{
    color: rgb(40, 167, 69);
    background-color: rgba(40, 167, 69, 0.1);
}
.edu .btech span{
    color:rgb(0, 123, 255);
    background-color: rgba(40, 167, 69, 0.1);
}
.edu .ms span{
    color:rgb(255, 0, 221);
    background-color: rgba(51, 136, 226, 0.1);
}
#CAPTURE{
    width: 100%;
    height: 100vh;
    margin-top: 5%;
    border: 2px solid transparent;
}
#CAPTURE p{
    margin-top: 5%;
    margin-left: 5%;
}
#CAPTURE h2{
    text-align: center;
    margin-top: 20%;
}
#CONTACT{
    width: 100%;
    height: 100vh;
    margin-top: 3%;
    border: 2px solid transparent;
    overflow: scroll;
}
#CONTACT p{
    margin-top: 5%;
    margin-left: 5%;
}
#CONTACT h3{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
#CONTACT h4{
    margin-top: 2%;
    margin-left: 5%;
    font-family: sans-serif bold;
    font-size: 25px;
}
.contactme{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    width: 960px;
    height: 200px;
    grid-column-gap: 20px;
    margin-top: 3%;
    margin-left: 15%;
    text-align: center;
}
.contactme div{
    border-radius: 10px;
    border: 1px solid #90bceb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contactme i{
    margin-top: 15%;
    margin-bottom: 10%;
}
.contactme a{
    text-decoration: underline;
    color: black !important;
}
.contactme a:hover{
    text-decoration: none;
}
.contactme p{
    opacity: 0.6;
}
form{
    margin-left: 15%;
    margin-top: 3%;
    width: 960px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
}
form div{
    margin-bottom: 3%;
}
.div1{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 450px 450px;
}
input{
    border-radius: 10px;
    height: 40px;
    width:450px;
    padding-left: 10px;
    border: 1px solid #90bceb;
    outline: none;
}
textarea{
    padding-left: 10px;
    border: 1px solid #90bceb;
    border-radius: 10px;
    outline: none;
}
.div2 ,#subject{
    width: 920px;
}
.div3 , #message{
    width: 920px;
}
#message{
    padding-top: 2%;
    padding-bottom: 10%;
}
input:focus , textarea:focus{
    box-shadow: 0px 0px 9px 2px rgba(151,169,196,1);
    transition: all 0.1s ease-in;
  }
  .div4{
      text-align: center;
  }
  #send{
    width: 100px;
    background-color: aqua;
    padding-right: 1%;
    border-radius: 15px;
  }
  #send:hover{
    box-shadow: 0px 0px 9px 2px rgba(151,169,196,1);
  }
@media screen and (max-width:720px){
    body, html{
        overflow: scroll;
    }
    .lside{
        display: none;
    }
    .center{
        margin: 0;
    }
    #HOME{
        overflow: scroll;
    }
    .pic{
        width: 250px;
        height: 250px;
        top: 20%;
        left:15%;
    }
    .name{
        top: 70%;
        left: 15%;
    }
    .hall{
        display: block;
        width: 300px;
    }
    #WORK{
        width: 100%;
        height: 300px;
        overflow: scroll;
    }
    #WORK p{
        left: 12%;
    }
    #WORK span{
        top: 15%;
    }
    #WORK .hall{
        left: 0%;
        top: 15%;
    }
    #WORK .work{
        display: none;
    }
    .work div{
        height: 200px;
        margin-bottom: 5%;
    }
    .work .block1,.work .block2{
        width: 360px;
        height: 200px;
    }
    iframe{
        width: 360px;
        height: 200px;
        display: none;
    }
    #WORK .hall span{
        top: 420px;
        font-size: 15px;
    }
    .more{
        top: 22%;
        left: 8%;
        width: 300px;
    }.more ul{
        display: grid;
        grid-template-columns: auto auto;
    }
    .more ul li a{
        font-size: 20px;
    }
    #WORK #git{
        font-size: 12px;
        top: 60%;
    }
    #RESUME p,#RESUME h3,#RESUME h4{
        font-size: 20px;
    }
    .edu{
        grid-template-columns: 340px;
        grid-template-rows: 200px 200px;
    }
    #RESUME div{
        margin-left: 5px;
    }
    #RESUME div p,#RESUME div h3,#RESUME div h4{
        font-size: 15px;
    }
    #CAPTURE{
        display: none;
    }
    #CONTACT{
        position: relative;
        margin-top: 80%;
        overflow: hidden;
        height: 1200px;
    }
    .contactme{
    grid-template-columns: 300px;
    grid-row-gap: 20px;
    width: max-content;
    margin-left: 8%;
    }
    form{
        margin-top: 120%;
        margin-left: 6%;
        box-shadow: none;
        width: max-content;
    }
    .div1{
        grid-template-columns: 360px;
        grid-row-gap: 20px;
    }
    input{
        width: 300px;
    }
    .div2 ,#subject{
        width: 300px;
    }
    .div3 , #message{
        width: 300px;
    }
    .div4{
        margin-left: -20%;
    }
}